# This source file is part of the Grove FHIR open-source project
#
# SPDX-FileCopyrightText: 2026 Schmiedmayer Lab and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT

[submodule "grove_questionnaire"]
	path = Integration/Sources/GroveQuestionnaire
	url = https://github.com/SchmiedmayerLab/Grove.git
	shallow = true
[submodule "grove_healthkit"]
	path = Integration/Sources/GroveHealthKit
	url = https://github.com/SchmiedmayerLab/Grove.git
	shallow = true
[submodule "grove_legacy_021"]
	path = Integration/Sources/GroveLegacy021
	url = https://github.com/SchmiedmayerLab/Grove.git
	shallow = true
[submodule "grove_sensorkit_reference"]
	path = Integration/Sources/GroveSensorKit
	url = https://github.com/SchmiedmayerLab/Grove.git
	shallow = true
[submodule "my_heart_counts_ios"]
	path = Integration/Sources/MyHeartCountsIOS
	url = https://github.com/SchmiedmayerLab/MyHeartCounts-iOS.git
	shallow = true
[submodule "my_heart_counts_android"]
	path = Integration/Sources/MyHeartCountsAndroid
	url = https://github.com/SchmiedmayerLab/MyHeartCounts-Android.git
	shallow = true
[submodule "my_heart_counts_firebase"]
	path = Integration/Sources/MyHeartCountsFirebase
	url = https://github.com/SchmiedmayerLab/MyHeartCounts-Firebase.git
	shallow = true
[submodule "my_heart_counts_study_definitions_024"]
	path = Integration/Sources/MyHeartCountsStudyDefinitions024
	url = https://github.com/SchmiedmayerLab/MyHeartCounts-StudyDefinitions.git
	shallow = true
[submodule "my_heart_counts_study_definitions_025"]
	path = Integration/Sources/MyHeartCountsStudyDefinitions025
	url = https://github.com/SchmiedmayerLab/MyHeartCounts-StudyDefinitions.git
	shallow = true
